.corpo{
     
    padding: 20px;
    margin: 20px auto;
}

.enviar{
	
	
	margin-right:100;
}

<html>
<head>
<title>Informações da compra</title>
</head>
<body>
	<h1>Obrigado pelo Cadastro, abaixo esta sua opção de comprar!</h1>